@model RealEstate.Rentals.Rental

@{
	ViewBag.Title = "Attach Image";
}

<h2>Attach Image</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
        
		<div class="form-group">
			<label class="control-label col-md-2">Description</label>
			<div class="col-md-10">
				@Model.Description
			</div>
		</div>
		
		<div class="form-group">
			@Html.Label("Image", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input type="file" name="file" id="file" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Attach" class="btn btn-default" />
			</div>
		</div>
	</div>
}
@if (Model.HasImage())
{
	<img src="@Url.Action("GetImage", new {id = @Model.ImageId})" />
}
<div>
	@Html.ActionLink("Back to Rentals", "Index")
</div>