@model MongoCms.Web.ViewModels.RentalsList

@{
    ViewBag.Title = "Rental Listings";
}

<h2>Rental Listings</h2>

@using (Html.BeginForm())
{
	<label for="PriceLimit">Price Limit</label>
	<input type="text" name="PriceLimit" value="@Model.Filters.PriceLimit" />
	<label for="MinimumRooms">Minimum Rooms</label>
	<input type="text" name="MinimumRooms" value="@Model.Filters.MinimumRooms" />
	<input type="submit" value="Search" />
}

<p>
    @Html.ActionLink("Post Rental", "Post")
</p>
<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Number Of Rooms
        </th>
        <th>
            Address
        </th>
        <th>
            Price
        </th>
        <th>Last Adjustment</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var rental in Model.Rentals)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => rental.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rental.NumberOfRooms)
            </td>
            <td>
                @String.Join(" ", rental.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rental.Price)
            </td>
            <td>
                @rental.Adjustments.Select(a => a.Describe()).LastOrDefault()
            </td>
            <td>
                @*@Html.ActionLink("Adjust Price", "AdjustPrice", new { id = rental.Id })*@
            </td>
            <td>
                @*@Html.ActionLink("Image", "AttachImage", new { id = rental.Id })*@
            </td>  
			<td>
                @*@Html.ActionLink("Delete", "Delete", new { id = rental.Id })*@
            </td>
        </tr>
    }

</table>